[type="text"]
{
    background: rgba(194, 66, 109, 0.203);
}
[type="password"]
{
    background: black;
}
button[type="reset"]
{
    background: palegoldenrod;
}
input[type="reset"]
{
    background-color: yellow;
}

